.ui.secondary.menu {
    padding: 20px;
    background-color: #00A6A4;

    .item {
        color: #FFFFFF;
    }
}

.home-section {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;

    .hero {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-right: 20px;

        .home-action {
            display: flex;
            margin-top: 10px;

            .button {
                margin-bottom: 5px;
            }
        }
    }

    .hero-image {
        max-width: 50%;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }


}

.content-page {
    // height: calc(100vh - 90px);
    display: flex;
    justify-content: center;
    padding: 0 40px;
}

.username-page {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 300px;
    max-width: 300px;
}

.ui.form {
    // min-width: 390px;
}

.table-page {
    text-align: left;
    // width: 100%;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;

    table {
        margin-top: 10px;

        th,
        td {
            padding: 8px;
            border: 1px solid black;
            word-break: break-word;
        }
    }
}

.track-page,
.createbill-page {
    height: 100%;
    width: 100%;
    justify-content: center;
    margin-bottom: 40px;

    .graph-page {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;

        h2 {
            margin: 0;
            margin-bottom: 10px;
        }

        .chart-container {
            box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
            border-radius: 10px;
            padding: 20px;
            margin: 10px;
        }
    }
}

.createbill-page {
    form {
        width: 300px;
    }
}



.empty-page {
    display: flex;
    justify-content: space-evenly;
    text-align: center;

    .empty-header {
        margin-right: 10px;
        align-self: center;
    }

    .image-container {
        max-width: 50%;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}

@media only screen and (max-width: 900px) {
    .ui.secondary.menu {
        flex-direction: column;
    }

    .menu.right {
        display: contents !important;
    }

    .home-section {
        flex-direction: column;
    }
}